<app-sub-nav 
subNavHeader="Contact Us"
subNavParagraph="We are always here for you"
></app-sub-nav>

<div class="container">
  <div class="form-feilds" [hidden]="submitted">
  <h2 class="section-header">CONTACT US</h2>
    <form (ngSubmit)="onSubmit()" #contactFOrm="ngForm">
      <div class="form-group">
        <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput class="form-control" type="text" id="name"
               required
               [(ngModel)]="userContactDetails.firstName" name="name"
               #name="ngModel">
              </mat-form-field>
        <div [hidden]="name.valid || name.pristine "
             class="alert alert-danger">
          Name is <strong>required</strong>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" class="form-control" id="lastName"
               required
               [(ngModel)]="userContactDetails.lastName" name="lastName"
               #lastName="ngModel">
        </mat-form-field>
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
             lastName is <strong>required</strong>
        </div>
      </div>
     

      <div class="form-group">
        <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" class="form-control" id="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
               required
               [(ngModel)]="userContactDetails.Email" name="Email"
               #Email="ngModel" placeholder="Ex. pat@example.com">
        </mat-form-field>

        

        <div [hidden]="Email.valid || Email.pristine"
             class="alert alert-danger">
             Email is <strong>required</strong> or <strong>invalid!</strong>
        </div>

      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Content</mat-label>
        <textarea matInput class="form-control"  name="" id="Content" cols="30" rows="10"
        required
               [(ngModel)]="userContactDetails.content" name="Content"
               #Content="ngModel"
        
        ></textarea>
        </mat-form-field>

        
        <div [hidden]="Content.valid || Content.pristine"
             class="alert alert-danger">
             Content is <strong>required</strong>
        </div>
      </div>


      <button mat-raised-button color="primary" type="submit" color="primary" [disabled]="!contactFOrm.form.valid">Submit</button>
    </form>
  </div>

  <div  [hidden] ="afterSubmit">
    <h3 class="alert-success"> Your request has been received with the following details:</h3>



<table  class="mat-elevation-z8">
    <tr>
      <td class="header" mat-header-cell>First Name:</td>
      <td>{{userContactDetails.firstName}}</td>
    </tr>
    <tr>
      <td class="header" mat-header-cell>Last Name:</td>
      <td>{{userContactDetails.lastName}}</td>
    </tr>
    <tr>
      <td class="header" mat-header-cell>Email:</td>
      <td>{{userContactDetails.Email}}</td>
    </tr>
    <tr>
      <td class="header" mat-header-cell>Content:</td>
      <td>{{userContactDetails.content}}</td>
    </tr>
 
</table>

  </div>