<div mat-dialog-content class="update-user">
  <button matTooltip="Close" (click)="closeDialog()" class="close-button"
    mat-icon-button><mat-icon>close</mat-icon></button>
  <h1 mat-dialog-title>Update</h1>
  <mat-icon>account_circle</mat-icon>
  <div class="form-feilds" [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #updateForm="ngForm">

      <div class="form-group">
        <mat-form-field>
          <mat-label>UserName</mat-label>
          <input matInput type="text" id="userName" required [(ngModel)]="updateUserDTO.userName" name="userName"
            #UserName="ngModel">
        </mat-form-field>
        <div [hidden]="UserName.valid || UserName.pristine" class="my-alert-danger">
          Username is <strong>required</strong>
        </div>
      </div>


      <div class="form-group">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" id="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required
            [(ngModel)]="updateUserDTO.email" name="Email" #Email="ngModel" placeholder="Ex. pat@example.com">
        </mat-form-field>
        <div [hidden]="Email.valid || Email.pristine" class="my-alert-danger">
          Email is <strong>required</strong> or <strong>invalid!</strong>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" required [(ngModel)]="updateUserDTO.password" name="password"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{7,12}$" #password="ngModel">
        </mat-form-field>
        <div [hidden]="password.value !='' || password.untouched" class="my-alert-danger">
          Password is <strong>required</strong>
        </div>
        <div [hidden]="password.pristine || password.valid" class="my-alert-danger">
          Password must be at the fotrmat: <strong>Bb!12345</strong>
        </div>
      </div>

      <div class="form-group" *ngIf="this.authServics.user.authLevel ===2">
        <mat-form-field>
          <mat-label>Auth Level</mat-label>
          <input matInput type="number" id="authLevel" required [(ngModel)]="updateUserDTO.authLevel" name="authLevel"
            matTooltip="0 - Visitor | 1 - User | 2 - Admin" min="0" max="2" #authLevel="ngModel">
        </mat-form-field>
        <div [hidden]="authLevel.valid || authLevel.pristine" class="my-alert-danger">
          Auth Level is <strong>required</strong>
        </div>
      </div>



      <div class="register-dialog">
        <button mat-raised-button type="submit" (click)="updateUser()" [disabled]="!updateForm.form.valid">
          Update
        </button>
      </div>
    </form>

  </div>