<app-sub-nav subNavHeader="Cart">

</app-sub-nav>

<div class="container">
    <div class="row">
  <div class="cart-row">
      <span class="cart-item cart-header cart-column">ITEM</span>
      <span class="cart-price cart-header cart-column">PRICE</span>
      <span class="cart-quantity cart-header cart-column">QUANTITY</span>
  </div>
  <div class="cart-items">
      <div class="cart-row" *ngFor="let book of this.service.cart">
          <div class="cart-item cart-column">
              <img class="cart-item-image" [src]="book.ImageUrl" height="100">
              <span class="cart-item-title">{{book.Name}}</span>
          </div>
          <span class="cart-price cart-column">$ {{book.Price |number}}</span>
          <div class="cart-quantity cart-column">
              <button mat-icon-button matTooltip="Add Quantity" (click)="bookQunatityAdd(book)"><mat-icon>add</mat-icon></button>
              <span class="quantity">{{book.Quantity}}</span>
              <button mat-icon-button matTooltip="Remove Quantity" (click)="bookQunatityRemove(book)"><mat-icon>remove</mat-icon></button>
              <button matTooltip="Remove Item" (click)="removeItem(book)" mat-icon-button><mat-icon>delete</mat-icon></button>
          </div>
      </div>
  </div>
  <div class="cart-total">
      <strong class="cart-total-title">Total: </strong>
      <span class="cart-total-price" >$ {{this.service.totalPriceForItemsInCart() | number}} </span>
  </div>
  <div class="parchaseBtn"><button mat-raised-button type="button" >PURCHASE</button>
  </div>
</div>
</div>