.example-form-field {
    width: 100px;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.parchaseBtn {
    margin: 50px 0;
    text-align: center;

    .mat-raised-button {
        font-size: 28px;
        line-height: 46px;
    }


}

.quantity {
    font: {
        size: large;
    }
}