 <app-sub-nav 
  subNavHeader="About Us"
  subNavParagraph="In EBook you can buy digital books and read them everywhere"></app-sub-nav>
  
<!-- cards -->
<div class="cards-container row">
<mat-card class="example-card" *ngFor="let card of this.service.cards">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>EBook</mat-card-title>
      <mat-card-subtitle>Online Books Store</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="card.ImageUrl" [alt]="card.ImageAlt">
    <mat-card-content> 
      <h5>
   {{card.ItemContent}}
  </h5>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button matTooltip="Like" (click)="changeLikeToggle(card)"><mat-icon>{{card.LikeToggleStatus}}</mat-icon></button>
      <button mat-button matTooltip="Share">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>