<div mat-dialog-content class="login-user">
  <h1 mat-dialog-title>REGISTER</h1>
  <mat-icon>account_circle</mat-icon>
    <div class="form-feilds" [hidden]="submitted">
      <form (ngSubmit)="onSubmit()" #contactFOrm="ngForm">

        <div class="form-group">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput type="text" id="firstName"
                 required
                 [(ngModel)]="registerUserForm.FirstName" name="firstName"
                 #FirstName="ngModel">
          </mat-form-field>
          <div [hidden]="FirstName.valid || FirstName.pristine" class="my-alert-danger">
            First Name is <strong>required</strong>
          </div>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text" id="lastName"
                 required
                 [(ngModel)]="registerUserForm.LastName" name="lastName"
                 #LastName="ngModel">
          </mat-form-field>
          <div [hidden]="LastName.valid || LastName.pristine" class="my-alert-danger">
            Last Name is <strong>required</strong>
          </div>
        </div>
        
        <div class="form-group">
          <mat-form-field >
          <mat-label>Email</mat-label>
          <input matInput type="email" id="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                 required
                 [(ngModel)]="registerUserForm.Email" name="Email"
                 #Email="ngModel" placeholder="Ex. pat@example.com">
          </mat-form-field>
          <div [hidden]="Email.valid || Email.pristine"
               class="my-alert-danger">
               Email is <strong>required</strong> or <strong>invalid!</strong>
          </div>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password"
                 required
                 [(ngModel)]="registerUserForm.Password" name="password"
                 #password="ngModel">
          </mat-form-field>
          <div [hidden]="password.valid || password.pristine" class="my-alert-danger">
               Password is <strong>required</strong>
          </div>
        </div>
       

        <button mat-raised-button type="submit" (click)="closeDialog()" [disabled]="!contactFOrm.form.valid">SIGN UP</button>
        <button matTooltip="Login" class="backToLoginButton" mat-button color="primary" (click)="backToLoginDialog()">Login</button>

      </form>

    </div>
 
  </div>

