mat-toolbar{
    display: flex;
    justify-content: space-between;
    height: 96px;

}

button{
    span{
        font-size: 25px;
    }
}

div{
      font: {
        size:16px;
    }        
    text-align: center;
        
    
}
.footer-right-inner-container{
    display: flex;
    ul{
        display: flex;
        align-items: center;
        li{
            list-style-type: none;
            margin: 3px;
        }
        .li-div{
            
         font: {
        size: 14px;
        weight: lighter;
         }
            li{
                margin: -8px 9px -4px;
            }
           
            border-left: 1px solid rgba(255, 255, 255, 0.556);
            
        }
    }
    img{
        width: 40%;
    }
    
   

}




