<footer class="footer-container">
  <mat-toolbar color="primary">
    <div class="footer-left-inner-container">
    <button mat-button routerLink="home"><mat-icon>menu_book</mat-icon> <span> EBook</span></button>
  </div>

  <div class="footer-right-inner-container">
    <ul>
      <li>
          <a href="https://www.facebook.com" matTooltip="Facebook" target="_blank">
              <img src="../../../assets/icons/FacebookLogo.png">
          </a>
      </li>
      <li>
          <a href="https://www.linkedin.com" matTooltip="Linkedin" target="_blank">
              <img src="../../../assets/icons/LinkdinLogo.png">
          </a>
      </li>
      <li>
          <a href="https://twitter.com" matTooltip="Twitter" target="_blank">
              <img src="../../../assets/icons/TwitterLogo.png">
          </a>
      </li>
      <div class="li-div">
      <li>All rights reserved ®</li>
      <li>Moshe Shoker</li>
    </div>
  </ul>

   
   
    </div>
  


  </mat-toolbar>
</footer>

