.example-container {
    width: inherit;
     height: calc(100vh - 56px);
    margin: 3px;
    
  }
  mat-drawer{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }

  .drawer-header{
    margin: 10px;
  }
.my-books-list{
    display: flex;
    flex-direction: column;
   
}
.single-book{
    margin: 3px;
    text-align: start;
}

mat-drawer-container{
  overflow: scroll;

}
pdf-viewer {
  overflow: scroll;
}

.mat-drawer-content-pdf-header{
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: baseline;
}


  .top-right-buttons-tools{
    mat-slide-toggle{
    padding-right: 10px;
      margin: 3px;
      border-right: 1px dotted;

    }
    section{
      display: inline;
      border-right: 1px dotted;
    }

   
  }

  .top-left-buttons-tools{
    display: flex;
    align-items: baseline;
    margin: 0 0 12px;
  }

  .input-page{
    width: 10%;
    text-align: center;

  }
  .edit-container{
    display: flex;
    flex-direction: row;
  }
