navbar-desktop{
    position: sticky;
    top: 0;
    z-index: 10;
}
navbar-tablets,navbar-phones{
    display: none;
}

mat-toolbar{
    display: flex;
    justify-content: space-between;
}

.active-link{
    background: rgba(0,0,0,.2);
}

button{
    span{
        font-size: 25px;
    }
}
.navbar{
    .container-fluid{
        justify-content: normal;

    }
    

} 
.mat-focus-indicator{
    line-height: 20px;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    navbar-desktop {
     display: none;
    }

    navbar-tablets{
        display: block;
    }

    navbar-phones{
        display: none;
    }
  }

  @media screen and (max-width: 800px) {
 
    navbar-tablets{
        display: none;
    }

    navbar-phones{
        display: block;
    }
  }
  
  /* On screens that are 600px wide or less, the background color is olive */
//   @media screen and (max-width: 600px) {
//     .nav-container-for-tablets{
//         display: none;
//     }
//     .nav-container-for-phones {
//         display: block;
//     }
//   }