<div class="nav-container">

    <mat-toolbar color="primary">
      <div class="nav-left-inner-container">
      <button mat-button routerLink="home"><mat-icon>menu_book</mat-icon> <span> EBook</span></button>
      <button mat-button routerLink="about" routerLinkActive='active-link'>About</button>
      <button mat-button routerLink="store" routerLinkActive='active-link'><mat-icon>storefront</mat-icon> Store</button>
      <button mat-button routerLink="my-books" routerLinkActive='active-link'>My Books</button>
      <button mat-button routerLink="contact-us" routerLinkActive='active-link'>Contact Us</button>
      <button mat-button routerLink="cart" routerLinkActive='active-link'><mat-icon matBadge="1" matBadgeColor="warn" matBadgeSize="small">local_grocery_store</mat-icon> Cart</button>

    </div>

    <div class="nav-right-inner-container">
      <button (click)="changMode()" *ngIf="this.service.isDarkMode===true" mat-icon-button type="button" class="mat-focus-indicator mat-icon-button mat-button-base"
       matTooltip="Switch to light mode" aria-label="Switch to light mode"><span class="mat-button-wrapper"><mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font"> light_mode </mat-icon>
      </span><span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span class="mat-button-focus-overlay"></span></button>
      <button (click)="changMode()" *ngIf="this.service.isDarkMode===false" mat-icon-button type="button" class="mat-focus-indicator mat-icon-button mat-button-base" 
      matTooltip="Switch to dark mode" aria-label="Switch to light mode"><span class="mat-button-wrapper"><mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font"> dark_mode </mat-icon></span>
      <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span class="mat-button-focus-overlay"></span></button>
      <button mat-button (click)="openDialog()">Login / Register</button>
      <button disabled="true" mat-button> <app-search-bar></app-search-bar></button>
      </div>
   
    </mat-toolbar>
  </div>


  
