<div class="nav-container">

    <mat-toolbar color="primary">
      <div class="nav-left-inner-container">
      <button mat-button routerLink="home"><mat-icon>menu_book</mat-icon> <span> EBook</span></button>
      <button mat-button routerLink="about" routerLinkActive='active-link'>About</button>
      <button mat-button routerLink="store" routerLinkActive='active-link'><mat-icon>storefront</mat-icon> Store</button>
      <button mat-button routerLink="cart" routerLinkActive='active-link'><mat-icon>local_grocery_store</mat-icon> Cart</button>
      <button mat-button routerLink="my-books" routerLinkActive='active-link'>My Books</button>
      <button mat-button routerLink="contact-us" routerLinkActive='active-link'>Contact Us</button>
    </div>

    <div class="nav-right-inner-container">
      <button matTooltip="dark mode" mat-button routerLink="about"><mat-icon>light_mode</mat-icon></button>
      <button matTooltip="dark mode" mat-button routerLink="about"><mat-icon>dark_mode</mat-icon></button>
      <button mat-button routerLink="login">Login / Register</button>
      </div>

    </mat-toolbar>
  </div>

