<div class="sub-nav-section">
    <div class="container">
      <div class="loader">
        <h2>Welcom</h2>
        <div class="drops">
          <span style="--i:0;"></span>
          <span style="--i:1;"></span>
          <span style="--i:2;"></span>
          <span style="--i:3;"></span>
          <span style="--i:4;"></span>
          <span style="--i:5;"></span>
          <span style="--i:6;"></span>
          <span style="--i:7;"></span>
        </div>
      </div>
    
      <svg>
        <filter id="Gooey">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10"></feGaussianBlur>
          <feColorMatrix 
          values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 20 -1">
        </feColorMatrix>
        </filter>
      </svg>

    <div class="image-container">
      <img [src]="this.homePageImage" alt="EBook Store">
  </div>
    </div>
</div>


  