<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Id Column -->
        <ng-container matColumnDef="id" class="row">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- userName Column -->
        <ng-container matColumnDef="userName" class="row">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email" class="row">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- authLevel Column -->
        <ng-container matColumnDef="authLevel" class="row">
            <th mat-header-cell *matHeaderCellDef> Auth Level </th>
            <td mat-cell *matCellDef="let element"> {{element.authLevel}} </td>
        </ng-container>


        <!-- Edit Column -->
        <ng-container matColumnDef="edit" class="row">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="editUser(element)">
                    <mat-icon>edit_outline</mat-icon>
                </button>
            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>