<div mat-dialog-content class="login-user">
  <button matTooltip="Close" (click)="closeDialog()" class="close-button" mat-icon-button><mat-icon>close</mat-icon></button>
  <div class="login" *ngIf="isLoginDialogDisplay; else showRegisterDialog">
  <h1 mat-dialog-title>LOGIN</h1>
  <mat-icon>account_circle</mat-icon>
    <div class="form-feilds" [hidden]="submitted">
      <form (ngSubmit)="onSubmit()" #contactFOrm="ngForm">
        <div class="form-group">
          <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput  type="email" id="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                 required
                 [(ngModel)]="loginUserForm.email" name="Email"
                 #Email="ngModel" placeholder="Ex. pat@example.com">
          </mat-form-field>
          <div [hidden]="Email.valid || Email.pristine"
               class="my-alert-danger">
               Email is <strong>required</strong> or <strong>invalid!</strong>
          </div>
  
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" id="lastName"
                 required
                 [(ngModel)]="loginUserForm.password" name="lastName"
                 #password="ngModel">
          </mat-form-field>
          <div [hidden]="password.valid || password.pristine" class="my-alert-danger">
               Password is <strong>required</strong>
          </div>
        </div>
       

        <button mat-raised-button type="submit" (click)="login(this.loginUserForm.email,this.loginUserForm.password)" [disabled]="!contactFOrm.form.valid">LOGIN</button>
      </form>
    </div>
    <div class="registerBtn">
      Not sign up? 
      <button matTooltip="Register" #register mat-button color="primary" (click)="moveToRegisterDialog()">Register</button>
    </div>
  </div>
 
<ng-template #showRegisterDialog>
    <app-register-dialog (isLoginDialogIsShow)="showLoginDialog($event)"></app-register-dialog>
</ng-template>
  </div>

